$mobile-max-height: 400px;

.cmp-hero {
  .cmp-hero__image {
    flex: 1;
    width: 1135px;
    height: $mobile-max-height;
    max-height: $mobile-max-height;
    overflow: hidden;

    .cmp-image {
      width: 100%;
      height: 100%;
    }

    .cmp-image__image {
      margin-top: 0;
      margin-bottom: 0;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .cmp-hero__container {
    position: relative;
    display: inline-block;

    .cmp-hero__copy {
      position: absolute;
      top: 30%;
      left: 30%;
      transform: translate(-60%, -60%);
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      width: 500px;
      margin: 80px;
      padding: 30px;
      border-radius: 20px;

      .cmp-hero__header {
        font-size: 54px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        margin-top: 0;
        text-align: left;
        color: $brand-primary;
      }

      .cmp-hero__tagline {
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        text-align: left;
        color: white;
      }
    }
  }
}
