.cmp-hero {
  .cmp-hero__container {
    position: relative;
    display: inline-block;

    .cmp-hero__image {
      display: block;
      object-fit: cover;
    }

    .cmp-hero__copy {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate(-50%, -50%);
      text-align: left;

      .cmp-hero__header {
        font-size: 48px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        margin-top: 0;
        text-transform: uppercase;
        color: black;
      }

      .cmp-hero__tagline {
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: black;
      }
    }
  }
}
