.cmp-hero {
  .cmp-hero__container {
    position: relative;
    display: inline-block;

    .cmp-hero__image {
      display: block;
      object-fit: cover;
    }

    .cmp-hero__copy {
      position: absolute;
      top: 30%;
      left: 30%;
      transform: translate(-30%, -30%);
      text-align: center;

      .cmp-hero__header {
        font-size: 64px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        margin-top: 0;
        text-align: left;
        color: white;
      }

      .cmp-hero__tagline {
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        text-align: left;
        color: white;
      }
    }
  }
}
