/* Light */
.cmp-title--white {
  .cmp-title__text {
    color: $text-color-inverse;
  }
}

/* Gray */
.cmp-title--gray {
  .cmp-title__text {
    color: $gray;
  }
}

/* Black */
.cmp-title--black {
  .cmp-title__text {
    color: $black;
  }
}

/* Blue */
.cmp-title--blue {
  .cmp-title__text {
    color: $blue;
  }
}

/* Navy */
.cmp-title--navy {
  .cmp-title__text {
    color: $navy;
  }
}

/* Crimson */
.cmp-title--crimson {
  .cmp-title__text {
    color: $crimson;
  }
}

/* Brand Accent */
.cmp-title--accent {
  .cmp-title__text {
    color: $brand-accent;
  }
}

/* Bold */
.cmp-title--bold {
  .cmp-title__text {
    font-weight: 600;
  }
}
