.cmp-text--font-white {
  p {
    color: $white;
  }
}

.cmp-text--font-gray {
  p {
    color: $gray;
  }
}

.cmp-text--font-primary {
  p {
    color: $brand-primary;
  }
}

.cmp-text--font-accent {
  p {
    color: $brand-accent;
  }
}
